asammdf==5.19.3
attrs==19.3.0
bitstruct==8.10.0
boto3==1.13.19
botocore==1.16.19
canmatrix==0.9.1
cchardet==2.1.5
certifi==2020.4.5.1
click==7.1.2
configparser==5.0.0
cycler==0.10.0
dask==2.17.2
docutils==0.15.2
fsspec==0.7.4
future==0.18.2
jmespath==0.10.0
kiwisolver==1.2.0
locket==0.2.0
lxml==4.5.1
lz4==3.0.2
matplotlib==3.2.1
minio==5.0.10
natsort==7.0.1
numexpr==2.7.1
numpy==1.18.4
pandas==1.0.3
partd==1.1.0
pathlib2==2.3.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
s3fs==0.4.2
s3transfer==0.3.3
six==1.15.0
toolz==0.10.0
urllib3==1.25.9
