attrs==19.3.0
bitstruct==8.11.0
botocore==1.17.43
can-decoder
canedge-browser
canmatrix==0.9.1
click==7.1.2
docutils==0.15.2
fsspec==0.8.0
future==0.18.2
jmespath==0.10.0
mdf-iter
numpy==1.19.1
pandas==1.1.0
pathlib2==2.3.5
python-dateutil==2.8.1
pytz==2020.1
s3fs==0.4.2
six==1.15.0
urllib3==1.25.10
